.admin-main-btn {
    background-color: #0D7377!important;
    color: white!important;
    margin: 24px 16px;
    border: none;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

.admin-main-btn:hover {
    color: white !important;
    background-color: #83D8CA!important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.show-admin-img {
    display: inline-block;
    width: 50px;
}

.show-admin {
    display: inline-block;
    padding: 0 0 25px 25px;
}

.admin-show-btn {
    display: block!important;
    margin-top: 15px!important;
}
