.admin-main-btn {
    background-color: #0D7377!important;
    color: white!important;
    margin: 24px 16px;
    border: none;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

.admin-main-btn:hover {
    color: white !important;
    background-color: #83D8CA!important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.show-admin-img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.show-admin {
    font-size: .9em;
    display: block;
}

.show-admin-right {
    font-size: .9em;
    display: block;
}

.admin-show-btn {
    display: block!important;
    margin-top: 25px!important;
}

.open-sidenav-btn {
    background-color: #83D8CA!important;
    color: white!important;
    font-weight: 400;
    margin: 12px 8px;
    border: none;
    padding: 8px 12px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}


.open-sidenav-btn:hover {
    color: white !important;
    font-weight: 700 !important;
    background-color: #83D8CA!important;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}


/*Remove outlines when a button is selected*/

.open-sidenav-btn:focus {
    outline: none;
    border: none;
}


.info-meerlezen-btn:focus {
    outline: none;
    border: none;
}

/*end section*/

.sidenav-text {
    opacity: .65;
    transition: all 0.2s ease 0s;
}

.sidenav-text:hover {
    opacity: 1;
    background-color: #4dc0b5;
}

/****/

@media only screen and (max-width: 850px) {
    .show-admin-img {
        margin: 0 0 20px 35px;
        width: 40px;
    }

    .show-admin-img-right {
        margin: 0 0 20px 35px;
        width: 40px;
    }

    .vp-block {
        margin: 0 30px;
    }

    .rights-btn-text {
        font-size: 12px;
    }


}

