.login-header {
    background-color: #0D7377!important;
    color: white;
}

.login-body {
    background-color: #60D2C0!important;
    color: white;
}

.submit-button {
    background-color: #0D7377!important;
    color: white!important;
}
