.login-header {
    background-color: #0D7377;
    color: white;
}

.login-body {
    background-color: #60D2C0;
    color: white;
}

.submit-button {
    background-color: #0D7377;
    color: white;
}
