.melden-yesno-button {
    background-color: #0D7377!important;
    font-size: 150%;
    color: white!important;
    margin: 32px 32px;
    border: none;
    padding: 16px 42px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

.melden-yesno-button:hover {
    color: white !important;
    font-weight: 700 !important;
    background-color: #83D8CA!important;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.melden-yesno-button-link {
    padding: 25px;
    color: white;
}

.melden-yesno-button-link:hover {
    color: white!important;
    text-decoration: none;
}
#prevBtn{
    background-color: #DDDDDD!important;
    color: gray!important;
    margin-top: 32px;
    margin-left: 10vw;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    transition: all 0.3s ease 0s;

}
#nextBtn{
    background-color: #0D7377!important;
    color: white!important;
    margin-top: 32px;
    margin-left: auto;
    margin-right: 10vw;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}
.tab {
    display: none;

}

button:hover {
    opacity: 0.8;
}


#ex1Slider .slider-selection {
    background: #BABABA;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #60D2C0;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #0D7377;
}
